<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/saurabhkumarkaushal/IdeaProjects/RestAssured2">

        <classes>
            <class name="StateTests"/>
            <class name="DistrictTests"></class>
        </classes>
    </test>
</suite>